body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #909091;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.card-flex-row {
	display: flex;
	flex-direction: row;
}

.game-image {
	align-self: stretch;
	object-fit: cover;
	width: 100%;
}

.short-image {
	height: 300px;
	object-fit: cover;
	object-position: top;
	width: 100%;
}

.game-card-image {
	height: 300px; /* This can be any value you desire */
	object-fit: cover; /* This ensures the image scales correctly */
}

.game-card {
	padding: 10px; /* Add padding around the card */
}

.game-card-link {
	text-decoration: none; /* Removes the underline */
	color: inherit; /* Makes the link inherit the color of its parent, removing the default blue color */
}

.game-column {
	padding: 10px; /* Add margin around each column */
}

.platform-image {
	width: 100%; /* Takes the full width of its container */
	height: 200px; /* Fixed height */
	object-fit: cover;
}

.btn-primary {
	background-color: gainsboro;
	border-color: black;
	color: black;
}
